.Trash/
	.anaconda/
	.android/
	.bash_history
	..anaconda/
	.android/
	.bash_history
	.bash_profile
	.bash_profile-anaconda3.bak
	.bash_sessions/
	.conda/
	.condarc
	.config/
	.cups/
	.gitignore
	.gitignore.swp
	.gradle/
	.idlerc/
	.ipynb_checkpoints/
	.ipython/
	.jupyter/
	.octave_hist
	.python_history
	.viminfo
	AndroidStudioProjects/
	Applications/
	Creative Cloud Files/
	Desktop/
	Downloads/
	Library/
	Movies/
	Music/
	Pictures/
	Public/
	SecondAIProject/
	Untitled1.ipynb
	Untitled3.ipynb
	import
	impoty
bash_profile
	.bash_profile-anaconda3.bak
	.bash_sessions/
	.conda/
	.condarc
	.config/
	.cups/
	.gitignore
	.gitignore.swp
	.gradle/
	.idlerc/
	.ipynb_checkpoints/
	.ipython/
	.jupyter/
	.octave_hist
	.python_history
	.viminfo
	AndroidStudioProjects/
	Applications/
	Creative Cloud Files/
	Desktop/
	Downloads/
	Library/
	Movies/
	Music/
	Pictures/
	Public/
	SecondAIProject/
	Untitled1.ipynb
	Untitled3.ipynb
	import
	impoty




.CFUserTextEncoding
	.Trash/
	.anaconda/
	.android/
	.bash_history
	.bash_profile
	.bash_profile-anaconda3.bak
	.bash_sessions/
	.conda/
	.condarc
	.config/
	.cups/
	.gitignore
	.gitignore.swp
	.gradle/
	.idlerc/
	.ipynb_checkpoints/
	.ipython/
	.jupyter/
	.octave_hist
	.python_history
	.viminfo
	AndroidStudioProjects/
	Applications/
	Creative Cloud Files/
	Desktop/
Documents/
	Downloads/
	Library/
	Movies/
	Music/
	Pictures/
	Public/
	SecondAIProject/
	Untitled1.ipynb
	Untitled3.ipynb
:x[return]	.anaconda/
	.android/
	.bash_history
	.bash_profile
	.bash_profile-anaconda3.bak
	.bash_sessions/
	.conda/
	.condarc
	.config/
	.cups/
	.gitignore
	.gitignore.swp
	.gradle/
	.idlerc/
	.ipynb_checkpoints/
	.ipython/
	.jupyter/
	.octave_hist
	.python_history
	.viminfo
	AndroidStudioProjects/
	Applications/
	Creative Cloud Files/
	Desktop/
	Downloads/
	Library/
	Movies/
	Music/
	Pictures/
	Public/
	SecondAIProject/
	Untitled1.ipynb
	Untitled3.ipynb
	import
	impoty
