mm.py
impoty.py
untitled2.ipynb
untitled.ipynb
baseballmodel.py
	.CFUserTextEncoding
	.Trash/
	.anaconda/
	.android/
	.bash_history
	.bash_profile
	.bash_profile-anaconda3.bak
	.bash_sessions/
	.conda/
	.condarc
	.config/
	.cups/
	.gradle/
	.idlerc/
	.ipynb_checkpoints/
	.ipython/
	.jupyter/
	.octave_hist
	.python_history
	.viminfo
	AndroidStudioProjects/
	Applications/
	Creative Cloud Files/
	Desktop/
	Documents/
	Downloads/
	Library/
	Movies/
	Music/
	Pictures/
	Public/
	SecondAIProject/
